<section id="contact">
  <div class="container">
    <header class="main-title" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
      <h3>Contactenos</h3>
    </header>
    <div class="row contact-data" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
      <div class="col-md-4 column">
        <div class="contact-icon"><i class="icon ion-md-pin"></i></div>
        <h5>DIRECCIÓN</h5> 
        <p>Cra 20 N° 72 -59 Barrio Alta Suiza</p>
      </div>
      <div class="col-md-4 column">
        <div class="contact-icon"><i class="icon ion-md-call"></i></div>
        <h5>TELÉFONO</h5>
        <p>+57 3136707883 - 3113412014</p>
      </div>
      <div class="col-md-4 column">
        <div class="contact-icon"><i class="icon ion-md-mail"></i></div>
        <h5>EMAIL</h5>
        <p>conexioneventosyservicios @gmail.com</p>
      </div>
    </div>
    <div class="row contact-data" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
      <div class="col-md-6 column">
        <div class="contact-icon"><a href="https://www.facebook.com/ConexionEYS/" target="_blank"><i class="icon ion-logo-facebook"></i></a></div>
        <h5>FACEBOOK</h5>
      </div>
      <div class="col-md-6 column">
        <div class="contact-icon"><a href="https://www.instagram.com/conexion_eventos1/?hl=es-la" target="_blank"><i class="icon ion-logo-instagram"></i></a></div>
        <h5>INSTAGRAM</h5>
      </div>
    </div>
    <div class="contact-us-form form-group">
      <form #f="ngForm" (ngSubmit)="onSubmit(f); f.reset()">
        <div class="row">
          <div class="col-md-6">
            <input id="name" required class="form-control" type="text" ngModel name="name" #name="ngModel" placeholder="Nombre y Apellidos">
            <div *ngIf="name.touched && name.invalid">
              <div class="alert alert-danger">Ingrese su nombre</div>
            </div>
          </div>
          <div class="col-md-6">
            <input id="email" required class="form-control" type="email" ngModel name="email"  #email="ngModel" placeholder="Email">
            <div *ngIf="email.touched && email.invalid">
              <div class="alert alert-danger">
                <div *ngIf="email.errors.email">Ingrese un email válido</div>
                <div *ngIf="email.errors.required">Ingrese su email</div>
              </div>
            </div>
          </div>
        </div>
        <div class="message-area">
          <textarea id="message" required class="form-control" cols="30" rows="5" ngModel name="message" #message="ngModel" placeholder="Mensaje"></textarea>
          <div *ngIf="message.touched && message.invalid">
            <div class="alert alert-danger">Ingrese un mensaje</div>
          </div>
        </div>
        <button class="button-send" type="submit" [disabled]="f.invalid">Enviar</button>
      </form>
    </div>
  </div>
</section>