<section id="about">
  <div class="container">
    <header class="main-title" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
      <h3>Acerca de nosotros</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </header>
    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
        <div class="card mr-3">
          <img class="card-img-top" src="assets/images/mision-vision/mision.jpg" alt="Card image cap">
          <div class="card-body">
              <h3>MISIÓN</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
        <div class="card mr-3">
          <img class="card-img-top" src="/assets/images/mision-vision/vision.jpg" alt="Card image cap">
          <div class="card-body">
            <h3>VISIÓN</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>