<section id="about">
  <div class="container">
    <header class="main-title" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
      <h3>Acerca de nosotros</h3>
      <p>Conexión, Eventos y servicios s.a.s., es una empresa que surge del empeño de dos jóvenes emprendedores que quisieron poner al servicio de Manizales, el Eje Cafetero y Colombia, el conocimiento y la experiencia que adquirieron a lo largo de varios años, en los que enfrentaron el reto de asumir la responsabilidad de llevar a cabo varios eventos de empresa y de ciudad, todos ellos con el éxito suficiente para recibir el reconocimiento de quienes confiaron en su trabajo profesional, en la honestidad que los caracteriza, en la calidad de las tareas que asumen.</p>
    </header>
    <div class="row">
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
        <div class="card mr-3">
          <img class="card-img-top" src="assets/images/mision-vision/mision.jpg" alt="Card image cap">
          <div class="card-body">
              <h3>MISIÓN</h3>
            <p class="card-text">Conexión, Eventos y servicios S.A.S., pensando en el bienestar de sus clientes, quiere hacer realidad sus sueños, ofreciendo diferentes alternativas y dando ideas que complementen las iniciativas que lleguen hasta sus oficinas, con el único propósito de darle tranquilidad a las empresas, instituciones y personas que dejen en sus manos la responsabilidad de llevar a cabo lo que ellos necesitan.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
        <div class="card mr-3">
          <img class="card-img-top" src="assets/images/mision-vision/vision.jpg" alt="Card image cap">
          <div class="card-body">
            <h3>VISIÓN</h3>
            <p class="card-text">Conexión, Eventos y servicios S.A.S., para el año 2023 espera ser una reconocida empresa de la región, que se caracterice y también, sea reconocida por sus clientes y personas del común por la calidad de su trabajo bien hecho además de por el buen servicio y gran aporte a la comunidad. Siempre dispuesta a convertir los sueños de todos sus clientes realidad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>