<section id="clients">
  <div class="container">
    <header class="main-title" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="bottom-bottom">
      <h3>CLIENTES</h3>
    </header>
    <div class="carousel" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="bottom-bottom">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="assets/images/clients/2030.png"></ng-template>  
        <ng-template carouselSlide><img src="assets/images/clients/amcoppiano.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/asdc.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/ava.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/berlin.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/camaradecomercio.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/cdc.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/chec.png"></ng-template> 
        <ng-template carouselSlide><img src="assets/images/clients/colanta.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/fast.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/licorera.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/ocb.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/once.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/peñon.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/sabios.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/sanluis.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/susuerte.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/tanque.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/uman.png"></ng-template>
        <ng-template carouselSlide><img src="assets/images/clients/zigzag.png"></ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>