<section id="clients">
  <div class="container">
    <header class="main-title">
      <h3>CLIENTES</h3>
    </header>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img src="assets/images/client-2030.png"></ng-template>  
      <ng-template carouselSlide><img src="assets/images/client-asdc.png"></ng-template>  
      <ng-template carouselSlide><img src="assets/images/client-avatar.png"></ng-template> 
      <ng-template carouselSlide><img src="assets/images/client-cds.png"></ng-template>  
      <ng-template carouselSlide><img src="assets/images/client-chec.png"></ng-template> 
      <ng-template carouselSlide><img src="assets/images/client-colanta.png"></ng-template>  
    </owl-carousel-o>
  </div>
</section>