<section id="experiences">
  <div class="container">
    <header class="main-title" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
      <h3>Experiencias</h3>
    </header>
    <div class="categories" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
      <button class="button-filter" [ngClass]="{'button-active':showAll}" (click)="filterBy('all')">TODAS</button>
      <button class="button-filter" [ngClass]="{'button-active':show1}" (click)="filterBy('1')">ACTIVACIÓN BTL ATL</button>
      <button class="button-filter" [ngClass]="{'button-active':show2}" (click)="filterBy('2')">OPERACIÓN LOGÍSTICA</button>
      <button class="button-filter" [ngClass]="{'button-active':show3}" (click)="filterBy('3')">ALQUILER EQUIPOS</button>
      <button class="button-filter" [ngClass]="{'button-active':show4}" (click)="filterBy('4')">ORGANIZACIÓN FIESTAS</button>
      <button class="button-filter" [ngClass]="{'button-active':show5}" (click)="filterBy('5')">CATERING</button>
      <button class="button-filter" [ngClass]="{'button-active':show6}" (click)="filterBy('6')">ESTRATEGIAS MARKETING</button>
      <button class="button-filter" [ngClass]="{'button-active':show7}" (click)="filterBy('7')">COMUNICACIÓN DIGITAL</button>
      <button class="button-filter" [ngClass]="{'button-active':show8}" (click)="filterBy('8')">PRODUCCIÓN AUDIOVISUAL</button>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/1rafresco.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>COLANTA nos ha vuelto a dar la confianza de desarrollar la Copa
                FRESCOLANTA Eje Cafetero, un torneo creado para niños entre 6 y 12 años que pretende fomentar
                el espíritu deportivo, el juego limpio y la integración de los deportistas de las ciudades capitales
                del Eje Cafetero.</p>
            </div>
            <div class="card-body">
              <h3>1ra Copa Frescolanta </h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide><img src="assets/images/experiences/2dafresco-1.jpg"></ng-template>  
              <ng-template carouselSlide><img src="assets/images/experiences/2dafresco-2.jpg"></ng-template>
              <ng-template carouselSlide><img src="assets/images/experiences/2dafresco-3.jpg"></ng-template>
            </owl-carousel-o>
            <div class="exp-info">
              <p>COLANTA nos ha vuelto a dar la confianza de desarrollar la Copa
                FRESCOLANTA Eje Cafetero, un torneo creado para niños entre 6 y 12 años que pretende fomentar
                el espíritu deportivo, el juego limpio y la integración de los deportistas de las ciudades capitales
                del Eje Cafetero.</p>
            </div>
            <div class="card-body">
              <h3>2da Copa Frescolanta</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/baloncesto-1.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Desde 2014 somos los encargados de la logística de los partidos de
                baloncesto en el coliseo menor de la ciudad de Manizales. Nuestro personal se encarga de un
                ingreso ágil y ordenado de los espectadores, la ubicación de los abonados y el buen desarrollo de
                los partidos.</p>
            </div>
            <div class="card-body">
              <h3>Liga Profesional Baloncesto</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide><img src="assets/images/experiences/boulevarron-1.jpg"></ng-template>  
              <ng-template carouselSlide><img src="assets/images/experiences/boulevarron-2.jpg"></ng-template>
            </owl-carousel-o>
            <div class="exp-info">
              <p>Con total éxito y gran acogida, hemos desarrollado el Bulevar
                de la ILC en el marco de la Feria Artesanal de Manizales, un lugar donde todos los visitantes a esta
                feria han encontrado una variedad de cocteles, preparados por nuestros bármanes, con la mayor
                minucia y con los mejores productos de la ILC, sin duda el punto de encuentro de los asistentes,
                después de recorrer esta gran feria..</p>
            </div>
            <div class="card-body">
              <h3>Bulevar Ron Viejo De Caldas</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/cabalgata-1.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Durante 2 años consecutivos, nos
                hemos encargado de la logística del Desfile Equino de la Feria de Manizales, llevando a cabo
                labores como, venta de manillas, cerramiento vial, desembarque y embarque de los equinos, y la
                logística general de esta.</p>
            </div>
            <div class="card-body">
              <h3>Cabalgata Feria De Manizales</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/chec.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Junto con la CHEC y más de 900 personas pedaleamos en el mes de diciembre, por la
                Avenida Santander recorriendo los puntos del alumbrado navideño.</p>
            </div>
            <div class="card-body">
              <h3>Chec</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show3">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/consoladj.jpg" alt="Card image cap">
            <div class="exp-info">
              <p></p>
            </div>
            <div class="card-body">
              <h3>Consola DJ</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/copaslight.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>De la mano de COLANTA seguimos con nuestro compromiso con el deporte, esta vez
                con la Copa Slight, un torneo de futbol 6 femenino, que reunió lo mejor de este deporte entre el 8
                de septiembre y el 20 de octubre, en las capitales del Eje Cafetero.</p>
            </div>
            <div class="card-body">
              <h3>Copa SLIGHT</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide><img src="assets/images/experiences/cristal-1.jpg"></ng-template>  
              <ng-template carouselSlide><img src="assets/images/experiences/cristal-2.jpg"></ng-template>
            </owl-carousel-o>
            <div class="exp-info">
              <p>Nos encargamos de la operación logística para el brandeo de sitios, traslado de material
                logístico y apoyamos en el cubrimiento de los diferentes eventos patrocinados por la Industria
                Licorera de Caldas, durante la edición 63 de la Feria de Manizales.</p>
            </div>
            <div class="card-body">
              <h3>Aguardiente Cristal</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1 || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/emas.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>A través de Tanque Agencia, hemos venido desarrollando diferentes campañas, “Mi mascota y
                yo hacemos lo correcto”, desarrollada en el mes Octubre del año 2018; para el año 2019 en el marco
                de 63 Feria de Manizales, desarrollamos la campaña “Actúa verde, recicla” donde acompañamos los
                principales eventos de la Feria.</p>
            </div>
            <div class="card-body">
              <h3>Emas</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/equinas-1.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>En el marco de las diferentes Exposiciones Equinas en sus
                grados A y B, y los Festivales Equinos realizados en la ciudad de Manizales y sectores aledaños, nos
                hemos encargado de la logística y producción sonora.</p>
            </div>
            <div class="card-body">
            <h3>Exposición Equina</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide><img src="assets/images/experiences/estadio-1.jpg"></ng-template>  
              <ng-template carouselSlide><img src="assets/images/experiences/estadio-2.jpg"></ng-template>
            </owl-carousel-o>
            <div class="exp-info">
              <p>Hemos sido los encargados de prestar el servicio
                logístico durante los encuentros deportivos que se celebran en el estadio Palogrande de la ciudad
                de Manizales, en ejecución de los partidos de los torneos Liga Águila I y II, Copa Águila y Copa
                Sudamericana.</p>
            </div>
            <div class="card-body">
              <h3>Estadio Palogrande</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show4">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/fiestafdaempocaldas.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Por dos años consecutivos la empresa de aguas del Departamento nos ha confiado su
                fiesta de integración de fin de año, charlas, actividades lúdicas, orquestas, alimentación, ambientación
                y sonido, han sido las responsabilidades que hemos tenido durante esta actividad.</p>
            </div>
            <div class="card-body">
              <h3>Fiesta Empocaldas</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/feriaequinanovatos.jpg" alt="Card image cap">
            <div class="exp-info">
              <p></p>
            </div>
            <div class="card-body">
              <h3>Festival Equino Grado B</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/ifood.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Se han convertido en uno de nuestros principales aliados de la región, reconociendo
                nuestro profesionalismo y capacidad de reacción para sus diferentes clientes, por esta razón hemos
                venido desarrollando diferentes activaciones para Ifood, en los puntos de mayor afluencia de publico y
                restaurantes de la ciudad.</p>
            </div>
            <div class="card-body">
              <h3>ifood</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1 || show3">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide><img src="assets/images/experiences/oncecaldas-1.jpg"></ng-template>  
              <ng-template carouselSlide><img src="assets/images/experiences/oncecaldas-2.jpg"></ng-template>
            </owl-carousel-o>
            <div class="exp-info">
              <p>Nuestro equipo, nos ha dado la confianza de acompañarlos en sus diferentes
                campañas, en la cual hemos recorrido la ciudad de Manizales, invitando a todos los ciudadanos para
                que se Abonen con el equipo del alma.</p>
            </div>
            <div class="card-body">
              <h3>Once Caldas</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show4 || show5">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide><img src="assets/images/experiences/penon-1.jpg"></ng-template>  
              <ng-template carouselSlide><img src="assets/images/experiences/penon-2.jpg"></ng-template>
            </owl-carousel-o>
            <div class="exp-info">
              <p>De la mano de uno de los restaurantes mas tradicionales de la ciudad,
                hemos desarrollado diferentes eventos corporativos, para grandes compañías de la ciudad,
                ofreciéndoles el servicio de restaurante, música y ambientación.</p>
            </div>
            <div class="card-body">
              <h3>Peñon</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1 || show4 || show6">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide><img src="assets/images/experiences/ron-1.jpg"></ng-template>  
              <ng-template carouselSlide><img src="assets/images/experiences/ron-2.jpg"></ng-template>
            </owl-carousel-o>
            <div class="exp-info">
              <p>Durante la edición 46 de la Feria Artesanal de Manizales, fuimos quienes le dimos la
                bienvenida a los artesanos expositores a esta feria, desarrollamos el sistema de acreditación
                previo y durante la feria, en el mes de Marzo nos vinculamos de la mano de Ron Viejo de Caldas, al
                6 Festival de Orquídeas Café y Arte, donde le presentamos a todos los visitantes, el Museo
                del Ron.</p>
            </div>
            <div class="card-body">
              <h3>Ron Viejo De Caldas</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show3">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/sanluis.jpg" alt="Card image cap">
            <div class="exp-info">
              <p></p>
            </div>
            <div class="card-body">
              <h3>San Luis</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/susuerte.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Hemos sido participes de las diferentes actividades que ha desarrollado SU SUERTE, en el
                departamento, en el centro sur y en algunos municipios del alto occidente del departamento,
                realizamos activaciones de marca, con nuestras pantallas portátiles LED y gorras LED; en la ciudad de
                Manizales, participamos de la inauguración del casino OLYMPIA, dándoles la bienvenida a todos los
                usuarios de este casino.</p>
            </div>
            <div class="card-body">
              <h3>Susuerte</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/ubereats.jpg" alt="Card image cap">
            <div class="exp-info">
              <p></p>
            </div>
            <div class="card-body">
              <h3>Uber Eats</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/experiences/zigzag.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>En el evento que reúne moda, gastronomía y música, mas grande la ciudad,
                contamos con un equipo logístico que se encargo del manejo del parqueadero y de la logística general
                del evento.</p>
            </div>
            <div class="card-body">
              <h3>Zig Zag Market</h3> 
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
