<section id="experiences">
  <div class="container">
    <header class="main-title" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
      <h3>Experiencias</h3>
    </header>
    <div class="categories" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
      <button class="button-filter" [ngClass]="{'button-active':showAll}" (click)="filterBy('all')">TODAS</button>
      <button class="button-filter" [ngClass]="{'button-active':show1}" (click)="filterBy('1')">ACTIVACIÓN BTL ATL</button>
      <button class="button-filter" [ngClass]="{'button-active':show2}" (click)="filterBy('2')">OPERACIÓN LOGÍSTICA</button>
      <button class="button-filter" [ngClass]="{'button-active':show3}" (click)="filterBy('3')">ALQUILER EQUIPOS</button>
      <button class="button-filter" [ngClass]="{'button-active':show3}" (click)="filterBy('3')">ORGANIZACIÓN FIESTAS</button>
      <button class="button-filter" [ngClass]="{'button-active':show3}" (click)="filterBy('3')">CATERING</button>
      <button class="button-filter" [ngClass]="{'button-active':show3}" (click)="filterBy('3')">ESTRATEGIAS MARKETING</button>
      <button class="button-filter" [ngClass]="{'button-active':show3}" (click)="filterBy('3')">COMUNICACIÓN DIGITAL</button>
      <button class="button-filter" [ngClass]="{'button-active':show3}" (click)="filterBy('3')">PRODUCCIÓN AUDIOVISUAL</button>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6" *ngIf="showAll show1">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/mzl-bg1.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aperiam totam quae rerum explicabo, dolor ex aspernatur qui reprehenderit culpa earum iusto ipsa debitis blanditiis expedita, cumque numquam! Quae, autem?</p>
            </div>
            <div class="card-body">
              <h3>TEXTO 1 </h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1 || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/mzl-bg1.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aperiam totam quae rerum explicabo, dolor ex aspernatur qui reprehenderit culpa earum iusto ipsa debitis blanditiis expedita, cumque numquam! Quae, autem?</p>
            </div>
            <div class="card-body">
              <h3>TEXTO 1 Y 2</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show2 || show3">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/mzl-bg1.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aperiam totam quae rerum explicabo, dolor ex aspernatur qui reprehenderit culpa earum iusto ipsa debitis blanditiis expedita, cumque numquam! Quae, autem?</p>
            </div>
            <div class="card-body">
              <h3>TEXTO 2 Y 3</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1 || show3">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/mzl-bg1.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aperiam totam quae rerum explicabo, dolor ex aspernatur qui reprehenderit culpa earum iusto ipsa debitis blanditiis expedita, cumque numquam! Quae, autem?</p>
            </div>
            <div class="card-body">
              <h3>TEXTO 1 Y 3</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show1">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/mzl-bg1.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aperiam totam quae rerum explicabo, dolor ex aspernatur qui reprehenderit culpa earum iusto ipsa debitis blanditiis expedita, cumque numquam! Quae, autem?</p>
            </div>
            <div class="card-body">
              <h3>TEXTO 1</h3> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" *ngIf="showAll || show2">
          <div class="card mr-3" data-aos="zoom-in" data-aos-duration="1000" data-aos-anchor-placement="center-bottom">
            <img class="card-img-top" src="assets/images/mzl-bg1.jpg" alt="Card image cap">
            <div class="exp-info">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aperiam totam quae rerum explicabo, dolor ex aspernatur qui reprehenderit culpa earum iusto ipsa debitis blanditiis expedita, cumque numquam! Quae, autem?</p>
            </div>
            <div class="card-body">
              <h3>TEXTO 2</h3> 
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
