<section id="services">
    <div class="container">
        <header class="main-title">
            <h3>SERVICIOS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </header>
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="service-icon"><i class="icon ion-md-phone-portrait"></i></div> 
              <h5>Comunicación Digital</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-icon"><i class="icon ion-md-briefcase"></i></div> 
              <h5>Estrategia De Marketing</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-icon"><i class="icon ion-md-easel"></i></div> 
              <h5>Alquiler De Equipos</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-icon"><i class="icon ion-md-wine"></i></div> 
              <h5>Organización De Fiestas</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-icon"><i class="icon ion-md-analytics"></i></div> 
              <h5>Operación Logística</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-icon"><i class="icon ion-md-browsers"></i></div> 
              <h5>Publicidad ATL y BTL</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-icon"><i class="icon ion-md-people"></i></div> 
              <h5>Catering Para Eventos</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-icon"><i class="icon ion-md-camera"></i></div> 
              <h5>Producción Audiovisual</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
          </div>
    </div>
</section>
